{% extends "nav.html" %}
{% block title %}Dashboard{% endblock %}
{% block title_page %}Dashboard{% endblock %}
{% block user_name %}User name{% endblock %}
{% block main %}
<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{ employees_count }}</h3>
            <p>Сотрудников</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="employees-list/?token={{ token }}&user_id={{ user_id }}" class="small-box-footer">Показать <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>{{ points_count }}</h3>
            <p>Заведений</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="points-list/?token={{ token }}&user_id={{ user_id }}" class="small-box-footer">Показать <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  </div>
</section>

<script>
// const USER = {
//   'user_id': "{{ user_id }}",
//   'token': "{{ token }}",
// }

// const PAGE = "{{ page }}"

// addAvtive(PAGE)
// // ###################
// // Запросы по API   ##
// // ###################
// const getInfoByUserAPI = async function(user_id, token) {
//     let url = `user?user_id=${user_id}`
//     let response = await fetch(url, {
//       method: 'GET',
//       headers: {
//         'Content-Type': 'application/json;',
//         'Authorization': `Bearer ${token}`,
//       },
//     });
//     let result = await response.text();
//     return result;
// }

// // получаем информацию о пользователе
// getInfoByUser(USER.user_id, USER.token)

// async function getInfoByUser(user_id, token) {
//   res = await getInfoByUserAPI(user_id, token);
//   var obj = JSON.parse(res);
//   document.getElementById('user_name').innerHTML = `${obj.name} ${obj.surname}`
// }

// // добавляем класс active в активный элемент nav
// function addAvtive(page_name) {
//   const navLink = document.querySelectorAll('.nav-link');
//   navLink.forEach(control => {
//     control.classList.remove('active');
//     }
//   );
//   document.getElementById(page_name).classList.add('active')
// }
// </script>
{% endblock %}