{% extends "nav.html" %}
{% block title %}Сотрудники{% endblock %}
{% block title_page %}Сотрудники{% endblock %}
{% block user_name %}User name{% endblock %}
{% block main %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Добавить сотрудника</h3>
          </div>
          <form>
            <div class="card-body">
              <div class="form-group">
                <input id="name" onclick="deleteError()" type="text" class="form-control clear" placeholder="Имя">
                <span id="name-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <input id="surname" onclick="deleteError()" type="text" class="form-control str clear" placeholder="Фамилия">
                <span id="surname-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <input id="patronymic" onclick="deleteError()" type="text" class="form-control str clear none-true" placeholder="Отчество">
                <span id="patronymic-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <input id="tg_username" onclick="deleteError()" type="text" class="form-control str clear" placeholder="Username в телеграме">
                <span id="tg_username" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <input id="email" onclick="deleteError()" type="email" class="form-control clear" placeholder="Email">
                <span id="email-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <input id="phone" onclick="deleteError()" type="phone" class="form-control clear" placeholder="Телефон">
                <span id="phone-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <select id="point" onclick="deleteError()" class="form-control" placeholder="Должность">
                  <option selected disabled hidden>Заведение</option>
                  {% for point in points %}
                    <option value="{{ point.id }}">{{ point.name }}</option>
                  {% endfor %}
                </select>
                <span id="job-title-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <select id="position" onclick="deleteError()" class="form-control" placeholder="Должность">
                  <option selected disabled hidden>Должность</option>
                  {% for position in positions %}
                    <option value="{{ position.id }}">{{ position.name }}</option>
                  {% endfor %}
                </select>
                <span id="job-title-error" class="error invalid-feedback"></span>
              </div>
              <div class="form-group">
                <select id="salary-type" onclick="deleteError()" class="form-control" placeholder="Тип начисления з/п">
                  <option selected disabled hidden>Тип начисления з/п</option>
                  <!-- <option>Оклад</option>
                  <option>Ставка за выход</option>
                  <option>Часовая ставка</option> -->
                  {% for type_pay in type_pays %}
                    <option value="{{ type_pay.id }}">{{ type_pay.name }}</option>
                  {% endfor %}
                </select>
                <span id="salary-type-error" class="error invalid-feedback"></span>
              </div>
            </div>
          </form>
          <div class="card-footer">
            <button onclick="createUser()" class="btn btn-primary">Добавить</button>
          </div>
          <span id="terms-error" class="error invalid-feedback" style="display: inline;"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-warning card-outline" style="display: none;">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-edit"></i>
        Уведомления
      </h3>
    </div>
    <div class="card-body">
      <button id="success-mg" type="button" class="btn btn-success toastrDefaultSuccess">
        Сотрудник успешно добавлен
      </button>
    <div id="toastsContainerTopRight" class="toasts-top-right fixed"></div>
  </div>

</section>

<!-- InputMask -->
<script src="static/js/imask.js"></script>

<script>  
const element = document.getElementById('phone');
const maskOptions = {
  mask: '+{7} (000) 000 00 00'
}; 
const mask = IMask(element, maskOptions);

// ###################
// Запросы по API   ##
// ###################
const createUserAPI = async function(data) {
    let url = '/user'
    let body = {
      "name": data["name"].value,
      "surname": data["surname"].value,
      "patronymic": data["patronymic"].value,
      "tg_username": data["tg_username"].value,
      "email": data["email"].value,
      "phone": data["phone"].value,
      "password": "123",
      "passwordConfirmation": "123",
      "position": data["position"].value,
      "point": data["point"].value,
      "type_pay": data["type_pay"].value,
    };

    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
      },
      body: JSON.stringify(body)
    });
    let result = await response;
    return result;
}


// ###################
// Обработка формы  ##
// ###################
async function createUser() {
  let data = {
    "name": document.getElementById('name'),
    "surname": document.getElementById('surname'),
    "patronymic": document.getElementById('patronymic'),
    "tg_username": document.getElementById('tg_username'),
    "email": document.getElementById('email'),
    "phone": document.getElementById('phone'),
    "position": document.getElementById('position'),
    "point": document.getElementById('point'),
    "type_pay": document.getElementById('salary-type'),
    // "password": document.getElementById('password'),
    // "passwordConfirmation": document.getElementById('passwordConfirmation'),
  }

  // проверка формы
  let isOK = validationForm(data);

  if (isOK) {
    let res = await createUserAPI(data);
    if (res.ok) {
      console.log("Пользователь создан")
      document.getElementById("success-mg").click()
      deleteValue();
    } else {
      document.getElementById('terms-error').innerHTML = `Ошибка сервера - код (${res.status})`    
    }        
  }  
}

function validationForm(data) {
  var isOK = true
  var str = new RegExp("[^а-яА-Яa-zA-ZёЁ+/)/(/-/'/ /./,-]+");
  var strEmail = new RegExp("[^a-zA-Z0-9/-/./@/_-]+");
  const formControls = document.querySelectorAll('.form-control');
  formControls.forEach(control => {
    // проверка каждого поля. все поля должны быть заполнены
    if (!control.value & !control.classList.contains('none-true')) {
      isOK = false
      control.classList.add('is-invalid');
      document.getElementById(`${control.id}-error`).innerHTML = "Обязательное поле"
    }

    // проверка полей, которые должны состоять опр-х символов
    if (control.classList.contains('str')) {
      if (str.test(control.value)) {
        isOK = false
        control.classList.add('is-invalid');
        document.getElementById(`${control.id}-error`).innerHTML = "Поле может содержать только буквы и символы ()-,."        
      }
    }
  });

  // // проверка почты
  if (strEmail.test(data.email.value) || !data.email.value.includes('@') || !data.email.value.includes('.')) {
    isOK = false
    data.email.classList.add('is-invalid');
    document.getElementById(`${data.email.id}-error`).innerHTML = "Такой почты не существует"
  }
  
  return isOK
}

function deleteError() {
  const formControls = document.querySelectorAll('.form-control');
  formControls.forEach(control => {
    if (control.classList.contains('is-invalid')) {
      control.classList.remove('is-invalid');
    }
  });
  document.getElementById('terms-error').innerHTML = ""

}

function deleteValue() {
    const formControls = document.querySelectorAll('.clear');
    formControls.forEach(control => {
      control.value = "";
      document.getElementById('terms-error').innerHTML = ""
    });
  }

</script>
{% endblock %}

{% block scripts_footer %}
<script>
  $(function() {
    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Сотрудник успешно добавлен'
      })
    });    

    $('.toastrDefaultSuccess').click(function() {
      toastr.success('Сотрудник успешно добавлен')
    });    
  });
</script>
{% endblock %}