{% extends "nav.html" %}
{% block title %}Должности{% endblock %}
{% block title_page %}Должности{% endblock %}
{% block user_name %}User name{% endblock %}
{% block main %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Добавить должность</h3>
          </div>
          <form>
            <div class="card-body">
              <div class="form-group">
                <input id="name" onclick="deleteError()" type="text" class="form-control str" placeholder="Название">
                <span id="name-error" class="error invalid-feedback"></span>
              </div>

                <div class="form-group">
                <select id="category" onclick="deleteError()" class="form-control clear" placeholder="Категория">
                  <option selected disabled hidden value="none">Категория</option>
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
                <span id="point-error" class="error invalid-feedback"></span>
              </div>

            </div>
          </form>
          <div class="card-footer">
            <button onclick="createPosition()" class="btn btn-primary">Добавить</button>
            <span id="terms-error" class="error invalid-feedback" style="display: inline;"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-warning card-outline" style="display: none;">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-edit"></i>
        Уведомления
      </h3>
    </div>
    <div class="card-body">
      <button id="success-mg" type="button" class="btn btn-success toastrDefaultSuccess">
        Должность успешно добавлена
      </button>

    <div id="toastsContainerTopRight" class="toasts-top-right fixed"></div>
  </div>
  </div>
</section>

<script>

const USER = {
    'user_id': "{{ user_id }}",
    'token': "{{ token }}",
}

// ###################
// Запросы по API   ##
// ###################
const createPositionAPI = async function(data, token) {
    let url = '/user/position'
    let body = {
      "name": data["name"].value,
      "category_id": data["category"].value
    };

    let response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;',
        'Authorization': `Bearer ${token}`
      },
      body: JSON.stringify(body)
    });
    let result = await response;
    return result;
}


// ###################
// Обработка формы  ##
// ###################
async function createPosition() {
  let data = {
    "name": document.getElementById('name'),
    "category": document.getElementById('category'),
  }
    console.log(data["name"].value, data["category"].value)
  // проверка формы
  let isOK = validationForm(data);

  if (isOK) {
    let res = await createPositionAPI(data, USER.token);
    if (res.ok) {
      console.log("Заведение создано")
      document.getElementById("success-mg").click()
      document.getElementById("name").value = ""
    } else {
      document.getElementById('terms-error').innerHTML = `Ошибка сервера - код (${res.status})`
    }
  }
}

function validationForm(data) {
  var isOK = true
  var str = new RegExp("[^а-яА-Яa-zA-ZёЁ+/)/(/-/'/ /./,-]+");
  const formControls = document.querySelectorAll('.form-control');
  formControls.forEach(control => {
    // проверка каждого поля. все поля должны быть заполнены
    if (!control.value & !control.classList.contains('none-true')) {
      isOK = false
      control.classList.add('is-invalid');
      document.getElementById(`${control.id}-error`).innerHTML = "Обязательное поле"
    }

    // проверка полей, которые должны состоять опр-х символов
    if (control.classList.contains('str')) {
      if (str.test(control.value)) {
        isOK = false
        control.classList.add('is-invalid');
        document.getElementById(`${control.id}-error`).innerHTML = "Поле может содержать только буквы и символы ()-,."
      }
    }
  });

  return isOK
}

function deleteError() {
  const formControls = document.querySelectorAll('.form-control');
  formControls.forEach(control => {
    if (control.classList.contains('is-invalid')) {
      control.classList.remove('is-invalid');
    }
  });
  document.getElementById('terms-error').innerHTML = ""
}

function deleteValue() {
  const selects = ["category"]
  const formControls = document.querySelectorAll('.clear');
  formControls.forEach(control => {
    if (selects.includes(control.id)) {
      control.value = "none";
    } else {
      control.value = "";
    }
    document.getElementById('terms-error').innerHTML = ""
  });
}

</script>

{% endblock %}

{% block scripts_footer %}
<script>
  $(function() {
    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Должность успешно добавлена'
      })
    });

    $('.toastrDefaultSuccess').click(function() {
      toastr.success('Должность успешно добавлена')
    });
  });
</script>
{% endblock %}


