{% extends "nav.html" %}
{% block title %}Заведения{% endblock %}
{% block title_page %}Заведения{% endblock %}
{% block user_name %}User name{% endblock %}
{% block main %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">


        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Список заведений</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>Координаты</th>
                <th>Кол-во сотрудников</th>                
              </tr>
              </thead>
              <tbody>
              <!-- <tr>
                <td>Алкон</td>
                <td>Ленинградский проспект 72к3</td>
                <td>55.805196, 37.520609</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Сколково</td>
                <td>Большой бульвар, 46с1</td>
                <td>55.685111, 37.350313</td>
                <td>30</td>
              </tr>           -->
              {% for point in points %}
                <tr>
                  <td>{{ point.name }}</td>
                  <td>{{ point.address }}</td>
                  <td>{{ point.coordinates }}</td>
                  <td>{{ point.users_count }}</td>
                </tr>
              {% endfor %}  
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts_footer %}
<!-- DataTables  & Plugins -->
<script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="static/plugins/jszip/jszip.min.js"></script>
<script src="static/plugins/pdfmake/pdfmake.min.js"></script>
<script src="static/plugins/pdfmake/vfs_fonts.js"></script>
<script src="static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<script>
$(function () {
$("#example1").DataTable({
  "responsive": true, "lengthChange": true, "autoWidth": false,
  "buttons": ["excel", "pdf", "print", "colvis"]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
$('#example2').DataTable({
  "paging": true,
  "lengthChange": false,
  "searching": false,
  "ordering": true,
  "info": true,
  "autoWidth": false,
  "responsive": true,
});
});
</script>
{% endblock %}