{% extends "nav.html" %}
{% block title %}Документация{% endblock %}
{% block title_page %}Документация{% endblock %}
{% block user_name %}User name{% endblock %}
{% block main %}
<section class="content">
    <!-- <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            1. Lorem ipsum dolor sit amet
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </div>
            </div>
            
            <div class="card card-danger card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseNine">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            9.  Quisque rutrum
                        </h4>
                    </div>
                </a>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <p class="lead">
                <a href="https://adminlte.io/themes/v3/">Ссылка</a>,
                по которой можно найти элементы верстки для новых модулей.<br />
            </p>
        </div>
    </div>
</section>
{% endblock %}